[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RNAsmc"]
	path = RNAsmc
	url = https://github.com/cran/RNAsmc
	shallow = true
	registered = true
